@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
}

.footer-image {
  width: 100px;
}

@include media-breakpoint-up(lg) {
  .footer {
    text-align: end;
    padding-right: 25px;
  }
}
