<div class="d-block pt-5">
  <div class="row justify-content-lg-center">

    <div class="col-lg-1  text-end">
      <button type="button" class="btn btn-link arrow-left-body">
        <i class="bi bi-arrow-left"></i>
      </button>
    </div>

    <div class="col-sm-12 col-lg-5 justify-content-sm-center">
      <p class="text-center fs-4 mb-0 fw-bold">{{user.nombre}}</p>
      <p class="text-center fs-6 mb-0 text-secondary">NIT: {{user.nit}}</p>
      <p class="text-center fs-6 mb-0 "> Capa: {{user.capa}} <i class="bi bi-dot"></i> Segmento: {{user.segmento}}</p>
    </div>
  </div>
</div>

