@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.arrow-left-body {
  display: none;
}

.alert-container {
  color: #f0ae32;
  padding-top: 0px;
  padding-bottom: 0px;
}

.alert-message {
  font-size: 10px;
  height: 42px;
  padding-top: 10px;
}

.text-continue,
.description {
  color: #00a6df;
}

.card-footer-box {
  background: #e7ebed;
}

.text-continue-disable {
  color: #afafaf;
}

.options{
  display: none;
}

.divider{
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.card-img-top{
  align-self: center;
  width: 80px;
}

.card-text-selected {
  font-weight: bold;
}


@include media-breakpoint-up(sm) {
  .arrow-left-body {
    display: none;
  }
}
@include media-breakpoint-up(md) {
  .arrow-left-body {
    display: none;
  }

  .divider{
    padding-left: 9.1rem !important;
    padding-right: 9.1rem !important;
  }


  .options{
    display: flex;
  }

  .selected-option {
    border-bottom: 3px solid #00a6df;
  }

  .divider-hr {
    position: relative; top: -17px;
  }

  .alert-message {
    font-size: 14px;
  }

  .alert-container {
    width: 65vw;
  }
  .description {
    padding-left: 0.6rem;
  }
}

@include media-breakpoint-up(lg) {
  .arrow-left-body {
    display: flex;
  }

  .divider{
    padding-left: 18.6rem !important;
    padding-right: 18.6rem !important;
  }

  description-container {
    align-items: start;
  }
  .description {
    margin-left: 7.4rem !important;
  }

  .operation-one {
    position: relative;
    left: -40px;
  }

  .operation-two {
    position: relative;
    left: 40px;
  }

  .divider-hr {
    position: relative; top: -17px;
  }

  .alert-container {
    width: 55vw;
  }
}
