<div class="container-fluid">
  <div class="row border-bottom p-2">
    <div class="arrow-left col-2">
      <button type="button" class="btn btn-link">
        <i class="bi bi-arrow-left"></i>
      </button>
    </div>
    <div class="col-8 col-md-8 col-lg-9 d-flex justify-content-sm-center justify-content-md-center justify-content-lg-start">
      <a href="/"  >
        <img class="logo" src="../assets/Occidente.png" alt="logo banco occidente"/>
      </a>
    </div>
    <div class="col-2 col-lg-3 col-md-2 d-flex justify-content-sm-end justify-content-md-end justify-content-lg-center">
      <button type="button" class="btn btn-link button-list">
        <i class="bi bi-list"></i>
      </button>
      <div class="user-profile-menu" >
        <div class="row">
          <div class="col-10">
            <p class="text-end mb-0 fw-bold">{{user.gerenteRelacion}}<br></p>
            <p class="text-end mb-0 fs-6 text-secondary">Gerente de Relaciones</p>
          </div>
          <div class="col-2 pt-2">
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
